*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.reg-form{
    width:50%;
    margin: auto;
    height: 50vh;
    display: flex;
    border:1px solid gray;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 3px 4px gray;
}
.reg-form div{
    width:40%
    
}
.reg-form div input{
    width:100%;
     height: 40px;
    padding: 0 10px;
    font-size:24px;
}
.reg-form div input[type="submit"] {
    background-color: rgb(47, 47, 248);
    color: white;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.data{
    width:80%;
    height: max-content;
    margin: auto;
    margin-top: 30px;
}
.data table{
    margin: auto;
    border:1px soild gray;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.data table th{
    border:1px solid black;
    padding: 10px 20px;
    background-color: brown;
    color: aliceblue;

}
.data table tr{
   border:1px solid black
}
.data table tr td{
    border:1px solid black;
    padding: 10px 20px;
    text-align: center;
}
.data table tr td:nth-child(5){
    background-color: red;
    font-weight: 800;
    color: white;
    cursor: pointer;
}
