*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
    

h1{
    
    margin: 10px auto;
    text-align: center;
}
.faq-container{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

   .faq-container .item {
    
    width: 500px;
    border: 1px solid gray;
   }
   .faq-container .item h3{
    background-color: rgb(55, 53, 53);
    color: aliceblue;
    padding: 10px;
    margin-bottom: 4px;
    width:100%;
    cursor: pointer;
    position: relative;
   }
    .faq-container .item h3 span{
        position: absolute;
        right:5px;
    }
   .faq-container .item .ans{
    padding: 5px;
    display: none;
   }
   .show{
    display: block !important;
   }